<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <title>AdonisJs - Node.Js MVC Framework</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="animate.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
  <script type='text/javascript' src='js/jquery.particleground.js'></script>
  <script src="js/animations.js"></script>
  <script>
    $( document ).ready(function() {
      $('#span1').cycleText();
    });

    $(document).ready(function() {
      $('#particles').particleground({
        dotColor: '#B9B9B9',
        lineColor: '#B9B9B9'
      });
    });
  </script>
  <style>
    body {
      font-family: 'Raleway', sans-serif;
    }
    .topright {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
    }
    .topleft {
      position: absolute;
      top: 8px;
      left: 16px;
      font-size: 18px;
    }


  </style>
</head>
<body>

  <section>
    <div class="__wrapper">
      {% block content %}{% endblock %}

    </div>
  </section>

</body>
</html>
