{% extends 'master' %}

{% block content %}
  <div class="topright"><a href="/blog" style="color:#ffffff">Blog</a></div>
  <div class="topleft"><a href="/resume" style="color:#ffffff">Resume</a></div>
<div id="particles">
    <div id="intro">
      <p style="font-size: 26px">I am </p>
      <p style="font-size: 30px"><span id="span1">a Computer Science Student|a Software Developer|<b>Dominique Ross</b></span></p>
    </div>
  </div>
{% endblock %}
